body {
    margin: 0;
    background-color: black;
    height: 100vh;
    color: white;
}
#container {
    border: 1px solid grey;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item {
    width: 100px;
    height: 50px;
    border: 1px solid white;
}
.item:nth-child(even) {
    background-color: rgb(56, 55, 53);
}
h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 50%;
    color: black;
    transition-property: color;
    transition-duration: 5s;
    transition-delay: 4s;
}

/*  ANIMATION RELATED BELOW */

/*  TRANSITIONS  */

/* base class */
.item-1 {
    background-color: blue;
    width: 100px;
    /* LONG FORM */

    /*  specifiy a property to watch for changes */
    transition-property: background-color, width, transform;
    /* how long your transition will take */
    transition-duration: 2s, 1s;

    /* how your transition will progress through time */
    /* transition-timing-function: ease-in; */

    /* how long to wait before starting your transition */
    /* transition-delay: 5s; */


    /* SHORTHAND */

    /*  <property> <duration> <timing-function> <delay>  */ 
    /* transition: background-color, width 500ms, 500ms ease-in; */

}

/* modifying class */
.item-1:hover {   /* hover psuedo class */
    background-color: red;
    width: 250px;
}


.item-2 {
    /* SHORTHAND */
    transition: transform 500ms ease-in;

    /* LONG FORM */
    /* transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease-in; */
}

.item-2:hover {

    /* TRANSFORM PROPERTY */

    /* transform property using the CSS Function translate */
    /* moving our element to the right by 50px when we hover over it */
    transform: translate(50px)
}

.item-3 {
    transition: transform 1s ease-in;
}

.item-3:hover {
    transform: rotate(30deg)
}


/*  ANIMATION PROPERTY  */

.item-4:hover {

    /* LONG FORM */
    /* animation-name: growingtaller; 
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-delay: 100ms; */
    

    /* SHORT HAND */
    animation: growingtaller 2s ease-in-out 100ms;

    /* how many times the animation plays */
    animation-iteration-count: 3;

    /* how the animation should play after each iteration */
    animation-direction: alternate;
    /* which value to stick to at the end of the animation */
    animation-fill-mode: forwards;

    /* for pausing or playing the animation */
    animation-play-state: running;
}

@keyframes growingtaller {
    /* put our steps here */

    from {
        height: 50px;
    }
    to {
        height: 500px
    }

    /* 0% {
        height: 50px;
        background-color: red;
    }
    50% {
        height: 100px;
        background-color: purple;
    }
    75% {
        height: 150px;
    }
    100% {
        height: 500px;
        background-color: orange;
    } */
}





